@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,200;1,400&display=swap');

.App {
  font-family: montserrat, sans-serif;
  min-height: 100%;
  /* background-color: #24252A; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-load{
  text-align: center;
  margin: 50px 0px;
  font-weight: 400;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------------------------------------------ NAV ------------------------------------------------------ */
.nav-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}

.App-name {
  margin-right: auto;
  font-size: 25px;
  color: #edf0f1;
}

.nav-container li,a,button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  border: none;
  background: none;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}


.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #0088A9;
}

.nav-container button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: montserrat, sans-serif;
}

.nav-container button:hover {
  background-color: rgba(0,136,169,0.8);
}
.user-link a{
  color: #0088A9;
}

.user-link a{
  transition: all 0.3s ease 0s;
}

.user-link a:hover{
  color: #edf0f1;
}
/* ------------------------------------------------------ LIST ------------------------------------------------------ */
.content{
  padding-bottom: 60px;
}

.circle{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.List-container{
  margin-top: 20px;
}

.List {
  list-style: none;
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0.5rem auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  border-radius: 8px;
  padding: 1rem;
  justify-content: space-between;
}

.List-header {
  display: flex;
  align-items: center;
}

.List-header h2 {
  color: rgb(37, 36, 36)
}
.List p{
  font-size: 18px;
}

.List-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.List-note {
  text-align: left;
  /* color: white; */
}

.button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: #ff7f50;
  border: 1.5px solid #ff7f50;
  border-radius: 6px;
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s;
  padding: 7px 15px;
  cursor: pointer;
}

.button:hover{
  color: white;
  background-color: #ff7f50;
}

/* ------------------------------------------------------ FOOTER ------------------------------------------------------ */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  font-size: 16px;
  background: #24252A;
  color: white;
  margin-top: 30px;
}
footer p{
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

/* ------------------------------------------------------ LOGIN ------------------------------------------------------ */
.login {
  border: 2px solid #333;
  border-radius: 10px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  color:#24252A;
}

.login h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.login form{
  padding: 0 40px;
  box-sizing: border-box
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;

  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #7e7e7e;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width:100%;
  height: 2px;
  background:#2691d9;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

input[type="submit"]{
  width:100%;
  height:50px;
  border: 1px solid;
  background: rgba(0,136,169,0.8);
  border-radius: 25px;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline:none;
}

input[type="submit"]:hover{
  background: rgba(0,136,169,1);
  border-color: rgba(0,136,169,0.8);;
  transition: .5s;
}

.signup_link{
  margin:30px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

.signup_link button{
  font-family: montserrat, sans-serif;
  color: #2691d9;
  text-decoration: none;
}
  
.signup_link button:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* ------------------------------------------------------ DETAILS ------------------------------------------------------ */
.detail-container,
.not-found,
.user-detail{
  /* border: 2px solid #333;
  border-radius: 10px; */
  border: none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 500px;
  color:#24252A;
}
.cryptodetail{
  text-align: center;
}

.cryptodetail input[type="submit"],
.start-trading{
  width:100%;
  height:50px;
  border: 1px solid;
  background: #ff7f50;
  border-radius: 25px;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline:none;
}

.cryptodetail input[type="submit"]:hover,
.start-trading:hover{
  background: #ff6348;
  border-color: #ff6348;;
  transition: .5s;
}

.cryptodetail .txt_field input:focus ~ label,
.cryptodetail .txt_field input:valid ~ label{
  top: -5px;
  color: #ff7f50;
}

/* ------------------------------------------------------ NOT FOUND ------------------------------------------------------ */
.not-found{
  text-align: center;
}

.not-found button{
  width:60%;
  height:50px;
  border: 1px solid;
  background: #ff7f50;
  border-radius: 25px;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline:none;
}

/* ------------------------------------------------------ BACK BUTTON ------------------------------------------------------ */
.back {
  margin-top: 20px;
  margin-left:10%;
}

.back button{
  color:#ff7f50;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #ff7f50;
  border-radius: 10px;
  padding: 10px 15px;
}

.back button:hover{
  color:white;
  background-color: #ff7f50;
  transition: 0.1s;
}

/* ------------------------------------------------------ DETAILS ------------------------------------------------------ */
.user-detail{
  text-align: center;
}
.user-detail{
  width: 30%;
}
.user-detail h2{
  font-weight: 400;
}
.user-detail form {
  margin-bottom: 20px;
}
